# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=your_username
MONGO_INITDB_ROOT_PASSWORD=your_password

# Mongo Express Configuration
ME_CONFIG_MONGODB_ADMINUSERNAME=your_username
ME_CONFIG_MONGODB_ADMINPASSWORD=your_password
ME_CONFIG_MONGODB_SERVER=mongodb
